<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head :: head"></div>
</head>
<body>

<div th:replace="fragments/header :: header">...</div>

<h1>Create Election</h1>

<main class="content">
    <div class="row justify-content-center">
        <div class="col-12 col-md-9 col-lg-6 jumbotron">
            <!--<img th:src="@{/images/login.png}" class="img-fluid mx-auto" alt="Logo"/>-->
            <form th:action="@{/party/create}" method="POST" class="form-signin" th:object="${party}">
                <h3 class="form-signin-heading" th:text="create"></h3>
                <br/>


                <div class="form-group">
                    <label for="name">party name</label>
                    <input id="name" type="text" th:field="*{name}"
                           placeholder="name" class="form-control"/>
                    <small th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                           class="validation-message"></small>
                </div>
                <div class="form-group">
                    <label for="motto">party motto</label>
                    <input id="motto" type="text" th:field="*{motto}"
                           placeholder="motto" class="form-control"/>
                    <small th:if="${#fields.hasErrors('motto')}" th:errors="*{motto}"
                           class="validation-message"></small>
                </div>
                <div class="form-group">
                    <label for="manifesto">party manifesto</label>
                    <textarea id="manifesto" th:field="*{manifesto}"
                           placeholder="manifesto" class="form-control"></textarea>
                    <small th:if="${#fields.hasErrors('manifesto')}" th:errors="*{manifesto}"
                           class="validation-message"></small>
                </div>

                <div align="center" th:if="${param.error}">
                    <span class="error">wanyora zvisizvo</span>
                </div>
                <button class="btn btn-lg btn-primary" name="Submit" value="create" type="Submit"
                        th:text="create"></button>
            </form>
        </div>
    </div>
</main>

<div th:replace="fragments/footer :: footer">...</div>

</body>
</html>