<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head :: head"></div>
</head>
<body>

<div th:replace="fragments/header :: header">...</div>

<div class="container">

    <div class="jumbotron">
        <h1>Election of <span th:text="${election.date}"></span></h1>

        <h3>Electorate</h3>
        <a class="btn btn-raised" th:href="${'/candidate/'+election.id+'/create'}">Add</a>
        <a class="btn btn-raised" th:href="${'/election/'+election.id+'/vote'}">Vote</a>
        <p th:each="candidate : ${candidates}" th:text="${candidate.firstName+' '+ candidate.lastName}"></p>
    </div>
</div>

<div th:replace="fragments/footer :: footer">...</div>

</body>
</html>