<!DOCTYPE html >
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head::head"></div>
</head>
<body>
<div th:replace="fragments/header :: header">...</div>
<main class="container content">

    <div th:each="election : ${elections} " class="jumbotron">
        <a th:href="${'/election/'+election.id}" class="no-style"><h1>Primary Election of <span
                th:text="${#dates.format(election.date, 'dd MMM yyyy')}">2017</span></h1></a>
        <button class="btn btn-primary btn-raised">Results</button>
        <button class="btn btn-primary btn-raised">Vote</button>
    </div>

    <div>
        Elections
        <div th:if="elections != null">
            <a th:each="election : ${elections} " th:text="${election.date}"
               th:href="${'/election/'+election.id}"><br></a>
        </div>
    </div>
</main>
<div th:replace="fragments/footer :: footer">...</div>
</body>
</html>