<!DOCTYPE html >
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="initial-scale=1, shrink-to-fit=no, width=device-width" name="viewport">

    <!-- CSS -->
    <!-- Add Material font (Roboto) and Material icon as needed -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Add Material CSS, replace Bootstrap CSS -->
    <link href="css/material.min.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/header :: header">...</div>
<main class="container content">
    <h1>This is about it</h1>
    <p>Digolodollarz Technologies P/L</p>
    <div>
        <div>This is chaff. Chaff</div>
        <div>This is chaff. Chaff</div>
        <div>This is chaff. Chaff</div>
        <div>This is chaff. Chaff</div>
        <div>This is chaff. Chaff</div>
        <div>This is chaff. Chaff</div>
        <div>This is chaff. Chaff</div>
        <div>This is chaff. Chaff</div>
        <div>This is chaff. Chaff</div>
        <div>This is chaff. Chaff</div>
        <div>This is chaff. Chaff</div>
        <div>This is chaff. Chaff</div>
        <div>This is chaff. Chaff</div>
        <div>This is chaff. Chaff</div>
        <div>This is chaff. Chaff</div>
        <div>This is chaff. Chaff</div>
        <div>This is chaff. Chaff</div>
        <div>This is chaff. Chaff</div>
        <div>This is chaff. Chaff</div>
        <div>This is chaff. Chaff</div>
        <div>This is chaff. Chaff</div>
        <div>This is chaff. Chaff</div>
        <div>This is chaff. Chaff</div>
        <div>This is chaff. Chaff</div>
        <div>This is chaff. Chaff</div>
        <div>This is chaff. Chaff</div>
        <div>This is chaff. Chaff</div>
        <div>This is chaff. Chaff</div>
        <div>This is chaff. Chaff</div>
        <div>This is chaff. Chaff</div>
        <div>This is chaff. Chaff</div>
        <div>This is chaff. Chaff</div>
    </div>
</main>
<div th:replace="fragments/footer :: footer">...</div>
</body>
</html>